{% extends 'base.html' %}
{% block pageJS %}
<script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
     <script type="text/javascript">
        $(function() {
             $('#id_start_date').datepicker();
             $("#report").tablesorter(
                {
                    cssAsc: 'headerSortUp',
                    cssDesc: 'headerSortDown',
                    cssHeader: 'header',
                    headers: { 6: { sorter: false}, 7: {sorter: false} },
                }
            );
         });
     </script>
{% endblock %}

 {% block content %}
    <h1>Late Tool</h1>
    <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Check for late/early employees" />
    </form>
    <table id="report" class="regular_table report_results">
        <thead>
            <th class="header"><a href="#">Name (NetID)</a></th>
            <th class="header"><a href="#">Status</a></th>
            <th class="header"><a href="#">Scheduled</a></th>
            <th class="header"><a href="#">Actual</a></th>
            <th class="header"><a href="#">Time Diff</a></th>
            <th class="header"><a href="#">Note</a></th>
        </thead>
        <tbody>
            {% for m, c  in msg.items %}
            <tr>
                <td>{{ c.10 }} ({{ c.1 }})</td>
                <td class="{{ c.0  }}">{{ c.9 }}</td>
                <td>{{ c.7 }} - {{ c.4 }}</td>
                <td>{{ c.6 }} - {{ c.3 }}</td>
                <td>{{ c.2 }}</td>
                <td>{{ c.8 }} <br /> {{ c.5 }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
 {% endblock %}

