{% extends 'base.html' %}
{% block pageJS %}
<script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
     <script type="text/javascript">
        $(function() {
             $('#id_start_date').datepicker();
             $("#report").tablesorter(
                {
                    cssAsc: 'headerSortUp',
                    cssDesc: 'headerSortDown',
                    cssHeader: 'header',
                    headers: { 6: { sorter: false}, 7: {sorter: false} },
                }
            );
         });
     </script>
{% endblock %}

 {% block content %}
    <h1>Late Tool</h1>
    <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Check for late/early employees" />
    </form>
    <table id="report" class="regular_table report_results">
        <thead>
            <th class="header"><a href="#">Name (NetID)</a></th>
            <th class="header"><a href="#">Status</a></th>
            <th class="header"><a href="#">Scheduled</a></th>
            <th class="header"><a href="#">Actual</a></th>
            <th class="header"><a href="#">Time Diff</a></th>
            <th class="header"><a href="#">Note</a></th>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.name }} ({{ student.netid }})</td>
                <td class="{{ student.color }}">{{ student.status }}</td>
                <td>{{ student.sched_in }} - {{ student.sched_out }}</td>
                <td>{{ student.clock_in }} - {{ student.clock_out }}</td>
                <td>{{ student.change }}</td>
                <td>{{ student.comm_in }} <br /> {{ student.comm_out }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
 {% endblock %}

