{% extends "base.html" %}

{% block content %}

<h1>Clock-in and out</h1>

<h2>Welcome 
<span class="user_name"> 
{% if user.first_name %}
    {{ user.first_name }}!
{% else %}
    {{ user }}</span>!
{% endif %}

</h2>
{% if events or alerts %}
  <div id='notificationwrap' style="margin:auto; width:80%">
    {% if events %}
        <div id="events" style="overflow:hidden;">
        <h3>Events</h3>
        {% for event in events %}
            <div class="notification" style="float:left; margin-right: 10px;">
                <h2>{% if can_Add %}<input type="checkbox" name="pk" value="{{event.pk}}">{% endif %}
                {{event.due_date.month}}/{{event.due_date.day}} {{event.title}} </h2>
                {% if event.user%}
                    <p class="info"> {{event.user}} posted on {{event.date}} </p>
                {% else %}
                    <p class="info"> Labgeeks posted on {{event.date}} </p>
                {% endif %}
                <p> {{event.content}} </p>
                <p> Due on {{event.due_date}}</p>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if alerts %}
        <div id="alerts" style="overflow:hidden;">
            <h3>Alerts</h3>
            {% for alert in alerts %}
                <div class="notification" style="float:left; margin-right: 10px;">
                    <h2>{% if can_Add %}<input type="checkbox" name="pk" value="{{alert.pk}}">{% endif %}{{alert.title}} </h2>
                    {% if alert.user%}
                        <p class="info"> {{alert.user}} posted on {{alert.date}} </p>
                    {% else %}
                        <p class="info"> Labgeeks posted on {{alert.date}} </p>
                    {% endif %}
                    <p> {{alert.content}} </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
  </div>
{% endif %}

{% if errors %}
    <p class="highlight">
        Please correct the error {{ form.errors|pluralize }} below.
    </p>
{% endif %}


<form style="text-align: center;" action="" method="post">{% csrf_token %}
    <label for="shiftnote">Notes about your shift:</label><br />
    {{ form.shiftnote }}
    <br />
    <input type="submit" id="submit_button" class="btn btn-primary" value="Clock {{ in_or_out }}!" />
</form>

{% endblock %}
